<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <CustomPipeline>
        <processor type="Sitecore.Foundation.SitecoreExtensions.Infrastructure.Pipelines.CheckValidItemProcessor, Sitecore.Foundation.SitecoreExtensions" />
      </CustomPipeline>
    </pipelines>
    <events>
      <event name="item:saved">
        <handler type="Sitecore.Foundation.SitecoreExtensions.Infrastructure.Events.ItemSavedEventHandler,Sitecore.Foundation.SitecoreExtensions" method="OnItemSaved">
        </handler>
      </event>
    </events>
  </sitecore>
</configuration>
